@import "./src/components/styles/variable";

.custom-shape-divider-bottom-1645091675 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150%;
  overflow: hidden;
  line-height: 0;
  top:98%;


}


.sign_in{
  position:relative;
  margin-left:67%;
  z-index:5;
  animation: topslide;
  animation-duration: 5s;
  button{
    margin-top:40%;
     padding:10px;
     border:none;
     border-radius: 10px; 
     margin-right:8px;
     font-weight:bold;
     background-color:whitesmoke;

  }
  button:focus{
    background-color: $alert-color;
  }
  
}
.membrii {
  height: 90vh;
  background-color:green;

  

  .custom-shape-divider-bottom-1645091675 svg {
    position: relative;
    display: block;
    // width: calc(163% + 1.3px);
    height: 368px;

  }

  .custom-shape-divider-bottom-1645091675 .shape-fill {
    fill: #0544a8;
    // width:10%;

  }
  
  .container {
    
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 0 auto;
    padding: 1rem;
    width: 1200px;
    .HeaderBody_img {
      flex: 1;
     // width: 90%;
      img {
        margin-left: 8rem;
        width: 100%;
       border-radius: 100%;
        animation: movingImg;
        animation-duration: 7s;
      }
      .Navbar_location {
      display: flex;
      align-items: center;
      .location {
         width: 10%;
        .location_img {
          width: 20%;
          background-color: $dark-blue-color;
        }
      }
      .location_details {
        text-align: center;
        inline-size: 500px;
        color:$light-color ;
        p {
          font-size: 0.8rem;
          margin-top: 2rem;
        }
      }
    }
      @keyframes movingImg {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
    .headerBodyContent {
      flex: 1;
      color: black;
      margin-left: 3rem;
      h1 {
        font-size: 3.5rem;
        font-weight: 400;
        position: relative;
        animation: heading;
        animation-duration: 3s;
      }
      @keyframes heading {
        0% {
          top: -600px;
        }
        100% {
          top: 0px;
        }
      }
      #leftslide {
        line-height: 1.5rem;
        animation: leftslide;
        animation-duration: 3s;
        @keyframes leftslide {
          0% {
            left: -700px;
          }
          100% {
            left: 0px;
          }
        }
      }

      .form_container {
        background-color: $light-color;
        color: black;
        text-align: center;
        border-radius: 5px;
        width: 350px;
        
        .sign_in {
          #sign_in {
            background-color: $light-color;
            padding: 0.2rem;
            border-radius: 3px;
            border: none;
            font-size: 1.1rem;
          }
          #sign_in:hover {
            background-color: $dark-blue-color;
          }
          #reg {
            background-color: $light-color;
            border: none;
            border-radius: 3px;
            padding: 0.2rem;
            margin-left: 2rem;
            font-size: 1.1rem;
          }
          #reg:hover {
            background-color: $dark-blue-color;
          }
        }
      }
    
      .form-Content {
        padding: 0.5rem;
      }
    }
  }
}
@keyframes bottomslide {
  0% {
    bottom: -700px;
  }
  100% {
    bottom: 0px;
  }
}